@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    min-height: 100vh; 
    overflow-y: auto;  
    background-color: rgb(220, 220, 220);
}

header {
    background-color: #004f80;
    display: flex;
    padding: 10px 5%;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

#nome{
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    p {
        font-size: 30px;
        padding: 0px;
        margin: 0px;
        display: inline;
    }
}

#logo-ufg {
    margin: 0px;
    width: 100px;
    
    text-align: right;
}

main {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
section{ 
    display: flex;
    flex-direction: column;
    background-color:lightgray;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
    p { 
        font-size: 2rem;
        padding: 40px 10%;
    }
}

#sobre {
    img {
        display: flex;
        
        margin: 0;
        height: 100%;
    }
}

#centralizadas{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    img {
         height: 500px;
        border-radius: 50%;
        border: 2px solid black;
    }
}

#GitHubStats{
    margin: 10px;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    img {
        height: 350px;
    } 
}

h2 {
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}


form {  
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    width: 40% ;
    p{
        padding: 0px;
        margin: 10px;
    }   
    div{
        text-align: center;
        label{
            font-size: 2rem;
        }
        input[type="text"],
        input[type="email"]
        {
            width: 60%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }
    }
    textarea {
        width: 100%;
        height: 200px;
        font-size: 1rem;
    }
    p {
        font-size: 1.5rem;

    }
}

#butao {
    width: 100%;
    background-color: #004f80;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#butao:hover {
    background-color: #006bbd;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}